<div class="row counter">
  <div class="card max">
    <span class="title">Schedule</span>
    <span>You are in</span>
    <span>5th period</span>
    <span>next is</span>
    <span>English</span>
  </div>
</div>

<div class="row teacher-list">
  <span class="title teacher-title">Teacher Webpages</span>
  <div id="search-area">
    <img src="/res/search.svg" alt=">" id="search-icon">
    <input id="search" placeholder="Search"></input>
  </div>
  <table id="pinned"></table>
  <table id="class-list"></table>
</div>